# Office  Location Election:

In [1]:
import pandas as pd
import requests
import os
from dotenv import load_dotenv
from pymongo import MongoClient
from pandas.io.json import json_normalize
import numpy as np
from API import *
from geopy.distance import geodesic

In [2]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

**Importamos database con los offices y los requirements en Seattle:**

In [3]:
data=list(db.offices_seattle.find({},{"name":1,"office":1,"latitude":1,"longitude":1}))
office_location = pd.DataFrame(data)
office_location.head()

,_id,name,office,latitude,longitude
0,5e9daab889b0742b61c6cfc3,PayScale,"{'type': 'Point', 'coordinates': [-122.3276962...",47.599934,-122.327696
1,5e9daab889b0742b61c6cfc4,Wetpaint,"{'type': 'Point', 'coordinates': [-73.9964312,...",40.723731,-73.996431
2,5e9daab889b0742b61c6cfc5,Shock Treatment Management,"{'type': 'Point', 'coordinates': [-122.339859,...",47.610332,-122.339859
3,5e9daab889b0742b61c6cfc6,GoChongo,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891
4,5e9daab889b0742b61c6cfc7,Wetpaint,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253

In [4]:
data=list(db.starbucks_data.find({},{"name":1,"location":1,"latitude":1,"longitude":1}))
starbucks_location = pd.DataFrame(data)
starbucks_location.head()

,_id,name,latitude,longitude,location
0,5e9dbe06c55e0b470352be22,Starbucks,47.619373,-122.324992,"{'type': 'Point', 'coordinates': [-122.324992,..."
1,5e9dbe06c55e0b470352be23,Starbucks,47.610021,-122.342583,"{'type': 'Point', 'coordinates': [-122.342583,..."
2,5e9dbe06c55e0b470352be24,Starbucks,47.607171,-122.309950,"{'type': 'Point', 'coordinates': [-122.30995, ..."
3,5e9dbe06c55e0b470352be25,Starbucks,47.621040,-122.350774,"{'type': 'Point', 'coordinates': [-122.3507743..."
4,5e9dbe06c55e0b470352be26,Starbucks,47.634139,-122.280731,"{'type': 'Point', 'coordinates': [-122.280731,..."

In [5]:
data=list(db.transport_data.find({},{"name":1,"location":1,"latitude":1,"longitude":1}))
transport_location = pd.DataFrame(data)
transport_location.head()

,_id,name,latitude,longitude,location
0,5e9dc901c8360ea27540a3bc,1001 Fourth Avenue Plaza Heliport,47.606130,-122.333849,"{'type': 'Point', 'coordinates': [-122.3338494..."
1,5e9dc901c8360ea27540a3bd,King County International Airport,47.528166,-122.301826,"{'type': 'Point', 'coordinates': [-122.3018264..."
2,5e9dc901c8360ea27540a3be,Lake Union Heliport,47.652052,-122.323119,"{'type': 'Point', 'coordinates': [-122.323119,..."
3,5e9dc901c8360ea27540a3bf,King County International Airport Airpark Hangars,47.520570,-122.298924,"{'type': 'Point', 'coordinates': [-122.2989238..."
4,5e9dc901c8360ea27540a3c0,Signature Flight Support BFI - Boeing Field/Ki...,47.537634,-122.304032,"{'type': 'Point', 'coordinates': [-122.3040317..."

In [6]:
data=list(db.vegan_restaurants.find({},{"name":1,"location":1,"latitude":1,"longitude":1}))
vegan_restaurants_location = pd.DataFrame(data)
vegan_restaurants_location.head()

,_id,name,latitude,longitude,location
0,5e9dc8f99407e6198df7a5ef,Petra Mediterranean Bistro,47.616684,-122.346531,"{'type': 'Point', 'coordinates': [-122.3465311..."
1,5e9dc8f99407e6198df7a5f0,Pantry by Plum,47.621221,-122.350860,"{'type': 'Point', 'coordinates': [-122.3508600..."
2,5e9dc8f99407e6198df7a5f1,Plum Bistro,47.613801,-122.316933,"{'type': 'Point', 'coordinates': [-122.3169331..."
3,5e9dc8f99407e6198df7a5f2,Kati Vegan Thai,47.620864,-122.333340,"{'type': 'Point', 'coordinates': [-122.3333401..."
4,5e9dc8f99407e6198df7a5f3,Chu Minh Tofu And Vegetarian Deli,47.598871,-122.317519,"{'type': 'Point', 'coordinates': [-122.3175189..."

In [7]:
data=list(db.schools_data.find({},{"name":1,"location":1,"latitude":1,"longitude":1}))
schools_location = pd.DataFrame(data)
schools_location.head()

,_id,name,latitude,longitude,location
0,5e9dbe1ec52e2c36cd0ca713,Fremont Community School,47.650103,-122.341050,"{'type': 'Point', 'coordinates': [-122.3410501..."
1,5e9dbe1ec52e2c36cd0ca714,The Andover School,47.580017,-122.385389,"{'type': 'Point', 'coordinates': [-122.385389,..."
2,5e9dbe1ec52e2c36cd0ca715,Secret Garden Preschool,47.621919,-122.297050,"{'type': 'Point', 'coordinates': [-122.29705, ..."
3,5e9dbe1ec52e2c36cd0ca716,Illuminate School,47.641495,-122.320651,"{'type': 'Point', 'coordinates': [-122.3206511..."
4,5e9dbe1ec52e2c36cd0ca717,Bright Horizons at Interbay,47.639610,-122.377320,"{'type': 'Point', 'coordinates': [-122.3773201..."

In [8]:
data=list(db.pubs_data.find({},{"name":1,"location":1,"latitude":1,"longitude":1}))
pubs_location = pd.DataFrame(data)
pubs_location.head()

,_id,name,latitude,longitude,location
0,5e9dbe635b450111c52e5479,Flatstick Pub - Pioneer Square,47.600143,-122.331002,"{'type': 'Point', 'coordinates': [-122.3310024..."
1,5e9dbe635b450111c52e547a,McMenamins Six Arms,47.614108,-122.327767,"{'type': 'Point', 'coordinates': [-122.3277668..."
2,5e9dbe635b450111c52e547b,Elysian Capitol Hill Brewery,47.613939,-122.315894,"{'type': 'Point', 'coordinates': [-122.3158939..."
3,5e9dbe635b450111c52e547c,Elephant & Castle,47.610045,-122.335570,"{'type': 'Point', 'coordinates': [-122.3355698..."
4,5e9dbe635b450111c52e547d,Hopvine Pub,47.623362,-122.312815,"{'type': 'Point', 'coordinates': [-122.3128147..."

**Tras analizar el mapa con las localizaciones de los requirements, buscamos las oficinas cercanas al punto elegido:**

*Investigamos sobre la zona (47.6082787,-122.3392946) ya que como hemos visualizado en el mapa, es la zona donde mas
Starbucks, Restaurantes veganos y pubs se encuentran cerca de las oficinas a menos de 500 metros. Para los requisitos de Colegio y Aeropuerto, no es imprescindible una distancia inferior a 1km, por lo que vamos a tener en cuenta una distancia de 10km aprox.*

In [11]:
def getOfficeNear(address, maxDist=500):
    point = geocode(address)
    return {
       "office": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

In [12]:
query=getOfficeNear("102 Pike St, Seattle, WA 98101, EE. UU.") # Starbucks Location selected 
query

<Response [200]>

{'office': {'$near': {'$geometry': {'coordinates': [-122.33991, 47.60908]},
   '$maxDistance': 500}}}

In [13]:
cur = db.offices_seattle.find(query, {"_id":0})
print(cur.count())
result = list(cur)
result

5

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

[{'name': 'Z2Live',
  'category_code': 'games_video',
  'total_money_raised': '$6.5M',
  'office': {'type': 'Point', 'coordinates': [-122.3399782, 47.6103008]},
  'latitude': 47.6103008,
  'longitude': -122.3399782},
 {'name': 'Shock Treatment Management',
  'category_code': 'web',
  'total_money_raised': '$4M',
  'office': {'type': 'Point', 'coordinates': [-122.339859, 47.610332]},
  'latitude': 47.610332,
  'longitude': -122.339859},
 {'name': 'SynapticMash',
  'category_code': 'software',
  'total_money_raised': '$5.89M',
  'office': {'type': 'Point', 'coordinates': [-122.3379255, 47.6098932]},
  'latitude': 47.6098932,
  'longitude': -122.3379255},
 {'name': 'OnRequest Images',
  'category_code': 'software',
  'total_money_raised': '$27M',
  'office': {'type': 'Point', 'coordinates': [-122.3403478, 47.6075374]},
  'latitude': 47.6075374,
  'longitude': -122.3403478},
 {'name': 'Vigilos',
  'category_code': 'software',
  'total_money_raised': '$7.4M',
  'office': {'type': 'Point', 'coordinates': [-122.3430581, 47.6113314]},
  'latitude': 47.6113314,
  'longitude': -122.3430581}]

In [15]:
query=getOfficeNear("1427 4th Ave Seattle, WA 98101, EE. UU.") # Vegan restaurant Location selected 
query

<Response [200]>

{'office': {'$near': {'$geometry': {'coordinates': [-122.33671, 47.60985]},
   '$maxDistance': 500}}}

In [16]:
cur = db.offices_seattle.find(query, {"_id":0})
print(cur.count())
result = list(cur)
result

6

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

[{'name': 'SynapticMash',
  'category_code': 'software',
  'total_money_raised': '$5.89M',
  'office': {'type': 'Point', 'coordinates': [-122.3379255, 47.6098932]},
  'latitude': 47.6098932,
  'longitude': -122.3379255},
 {'name': 'Shock Treatment Management',
  'category_code': 'web',
  'total_money_raised': '$4M',
  'office': {'type': 'Point', 'coordinates': [-122.339859, 47.610332]},
  'latitude': 47.610332,
  'longitude': -122.339859},
 {'name': 'Z2Live',
  'category_code': 'games_video',
  'total_money_raised': '$6.5M',
  'office': {'type': 'Point', 'coordinates': [-122.3399782, 47.6103008]},
  'latitude': 47.6103008,
  'longitude': -122.3399782},
 {'name': 'OnRequest Images',
  'category_code': 'software',
  'total_money_raised': '$27M',
  'office': {'type': 'Point', 'coordinates': [-122.3403478, 47.6075374]},
  'latitude': 47.6075374,
  'longitude': -122.3403478},
 {'name': 'IMedExchange',
  'category_code': 'web',
  'total_money_raised': '$2.62M',
  'office': {'type': 'Point', 'coordinates': [-122.3371174, 47.6136485]},
  'latitude': 47.6136485,
  'longitude': -122.3371174},
 {'name': 'Medio',
  'category_code': 'software',
  'total_money_raised': '$30M',
  'office': {'type': 'Point', 'coordinates': [-122.331308, 47.611827]},
  'latitude': 47.611827,
  'longitude': -122.331308}]

In [21]:
query1=getOfficeNear("1416 1st Ave, Seattle, WA 98101, EE. UU.") # Pubs Location selected 
query1

<Response [200]>

{'office': {'$near': {'$geometry': {'coordinates': [-122.35765, 47.63189]},
   '$maxDistance': 500}}}

In [22]:
cur = db.offices_seattle.find(query, {"_id":0})
print(cur.count())
result = list(cur)
result

6

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

[{'name': 'SynapticMash',
  'category_code': 'software',
  'total_money_raised': '$5.89M',
  'office': {'type': 'Point', 'coordinates': [-122.3379255, 47.6098932]},
  'latitude': 47.6098932,
  'longitude': -122.3379255},
 {'name': 'Shock Treatment Management',
  'category_code': 'web',
  'total_money_raised': '$4M',
  'office': {'type': 'Point', 'coordinates': [-122.339859, 47.610332]},
  'latitude': 47.610332,
  'longitude': -122.339859},
 {'name': 'Z2Live',
  'category_code': 'games_video',
  'total_money_raised': '$6.5M',
  'office': {'type': 'Point', 'coordinates': [-122.3399782, 47.6103008]},
  'latitude': 47.6103008,
  'longitude': -122.3399782},
 {'name': 'OnRequest Images',
  'category_code': 'software',
  'total_money_raised': '$27M',
  'office': {'type': 'Point', 'coordinates': [-122.3403478, 47.6075374]},
  'latitude': 47.6075374,
  'longitude': -122.3403478},
 {'name': 'IMedExchange',
  'category_code': 'web',
  'total_money_raised': '$2.62M',
  'office': {'type': 'Point', 'coordinates': [-122.3371174, 47.6136485]},
  'latitude': 47.6136485,
  'longitude': -122.3371174},
 {'name': 'Medio',
  'category_code': 'software',
  'total_money_raised': '$30M',
  'office': {'type': 'Point', 'coordinates': [-122.331308, 47.611827]},
  'latitude': 47.611827,
  'longitude': -122.331308}]

**Tras localizar Starbucks, Pubs y restaurantes veganos cercanos,la compañia seleccionada que aparece en las 3 busquedas  es SynapticMash. Por lo que procedemos a verificar a que distancia se encuentra de los requirimientos:**

In [23]:
# Calculamos distance para la oficina elegida "SynapticMash" que cumple con los criterios requeridos:
coord_office =(47.6098932,-122.3379255)
coord_starbucks= (47.6090095,-122.33992417)
coord_pubs= (47.6082787,-122.3392946)
coord_airport= (47.5376339,-122.3040317)
coord_school= (47.6054777,-122.3336027)
coord_vegan=(47.6098817,-122.3366367)

distance_starbucks=geodesic(coord_office,coord_starbucks)
distance_vegan=geodesic(coord_office,coord_vegan)
distance_pubs=geodesic(coord_office,coord_pubs)
distance_schools=geodesic(coord_office,coord_school)
distance_airport=geodesic(coord_office,coord_airport)

print("Distance for Starbucks", (round(distance_starbucks.meters)),"meters")
print("Distance for Vegan restaurant",(round(distance_vegan.meters)),"meters")
print("Distance for Pubs", (round(distance_pubs.meters)),"meters")
print("Distance for Airport", (round(distance_airport.meters)),"kilometers")
print("Distance for School", (round(distance_schools.meters)),"kilometers")

Distance for Starbucks 180 meters
Distance for Vegan restaurant 97 meters
Distance for Pubs 207 meters
Distance for Airport 8429 kilometers
Distance for School 589 kilometers

**Al cumplir la localización de la compañia todos los requirimientos necesarios exigidos para la apertura de la nueva oficina, esta será la nueva localización elegida: (47.6098932,-122.3379255) en Seattle.**

<img src="office.png">

El punto donde aparece la dirección: **localización de la oficina**.
El resto de puntos corresponden: *Starbucks, Restaurante vegano, colegio, pub...*

<img https://github.com/Macarena18/GeoSpartial-Data-Project/blob/master/OUTPUT/office.png>